@import "tailwindcss";

@theme inline {
  --color-primary: #a0a603;
  --color-secondary: #d9d05b;
  --color-p: #8c8c8b;
  --color-text: #232526;
  --color--tertiary: #020126;
  --font-poppins: var(--font-poppins), sans-serif;
}

body {
  /*background-color: #8c8c8b;*/
  font-family: var(--font-poppins);
}
